[2014-04-21 03:31] crantila opened #4 "Installation Instructions Don't Mention 'meta_mixin'"
The "Quickstart" instructions don't yet mention the new 'meta_mixin' requirement that comes along with release 0.4. When upgrading, I had to add `'meta_mixin'` to my `INSTALLED_APPS` setting.

Thanks for your work on this app!

[2014-04-21 08:14] #4 closed, assigned to nobody

[2014-07-06 14:40] leesolway opened #5 "Invalid block tag: 'googleplus_html_scope'"
I've setup this as per the documentation and have gotten the following error..

Invalid block tag: 'googleplus_html_scope'

INSTALLED APPS:
    'meta',
    'meta_mixin',
    'djangocms_page_meta',

TEMPLATE:
{% load page_meta_tags %}
<!DOCTYPE html>
<html lang="en">
<head {% googleplus_html_scope meta.gplus_type %}>

[2014-07-06 14:50] #5 closed, assigned to nobody

[2014-12-04 08:47] n-zav opened #11 "Error on adding items from admin."
Saving Title or Page Meta object from admin interface leads to Traceback :

Traceback:
File "/home/vagrant/Envs/beas/local/lib/python2.7/site-packages/django/core/handlers/base.py" in get_response
1.                     response = wrapped_callback(request, _callback_args, *_callback_kwargs)
   File "/home/vagrant/Envs/beas/local/lib/python2.7/site-packages/django/contrib/admin/options.py" in wrapp

[2014-12-04 22:57] #11 closed, assigned to nobody

[2015-03-30 15:14] zanderle opened #13 "Installation guide doesn't mention all the settings"
I had to add some variables to `settings.py` in order for djangocms-page-meta to start working. These are not mentioned anywhere in the installation guide.

[code]

I can give you a PR by the end of the week, if you want?

[2015-03-31 05:29] yakky commented on #13
Hi, thanks for pointing this out
Actually the correct fix for this would be to point to django-meta documentation (https://github.com/nephila/django-meta#configuration) which those settings belong to

[2015-04-01 12:33] zanderle commented on #13
Good point. Will you do it yourself, or do would you like a PR?

[2015-04-03 07:24] yakky commented on #13
If you'd be able to come up with a PR I'll greatly appreciate that! :)

[2015-06-05 17:08] yakky commented on #13
Fixed by #15

[2015-06-05 17:08] #13 closed

[2015-07-30 15:57] saeedsq opened #24 "Migration '0002_auto_20150730_2004.py' is created in app 'djangocms_page_meta' after run command 'makemigrations'"
I use django 1.8.3
I have tested with djangocms-page-meta (0.5.1, 0.5.2, 0.5.3)

Migrations for 'djangocms_page_meta':
  0002_auto_20150730_2004.py:
    - Alter field og_author_fbid on pagemeta

[code]

[2015-08-03 07:27] nostalgiaz commented on #24
+1

[2015-08-07 07:39] yakky commented on #24
Fixed by 40d2cafece5005cb95c1048fc7720767d1309864

[2015-08-07 07:39] #24 closed

[2015-08-07 07:39] yakky commented on #24
@saeedsq thanks for raising this

[2015-08-07 07:40] nostalgiaz commented on #24
thanks @yakky !

[2015-08-08 04:28] saeedsq commented on #24
@yakky you're welcome.

[2015-08-08 08:16] yakky commented on #24
0.5.4 released!

[2016-01-08 13:52] evildmp opened #34 "Missing language causes an error"
We're seeing this on an Aldryn project.

The project had a home page in ``en``.

Then, the project's languages were reconfigured to ``de`` and ``nl``.

However, ``djangocms_page_meta/cms_toolbar.py`` still tries to feed the ``en`` page to ``get_language_object`` of the CMS, which is not happy about it.

Here's the traceback:

[code]

[2016-01-08 16:16] yakky commented on #34
@evildmp sure, I'll check soon(-ish)
So the condition to reproduce this is:
- have a website in 'en', 'de', 'nl' with some content in all the languages in it
- remove 'en' from the CMS_LANGUAGES in settings
- get the traceback

amirite?

[2016-01-08 16:35] evildmp commented on #34
@yakky Yes, it seems so, I am investigating as we speak.

[2016-01-08 17:06] evildmp commented on #34
@yakky confirmed, getting all the ``Title.objects.filter(language="en")`` and deleting them in the shell seems to make it work.

[2016-01-08 19:03] yakky commented on #34
@evildmp fix is underway. I should upload on aldryn a fixed version tomorrow

[2016-01-10 15:19] Kurdym commented on #34
Started a new project on Aldryn, this time with only the Dutch language, no other languages.
Get this error:

'EmptyTitle' object has no attribute 'titlemeta'

[code]

[2016-01-10 20:45] yakky commented on #34
@Kurdym cannot reproduce this using version 0.5.7 on aldryn (I created a blank site with nl language, the created a home page using the wizard and then adding random metadata)

[2016-01-10 21:13] Kurdym commented on #34
Yakky, neither can I anymore. To me it seems like Aldryn is still been worked on, so maybe something that changed fixed it.
The problem seemed correlated.

[2016-01-11 10:41] Kurdym commented on #34
Here it is again on again a new project. Same error messages.
And a screenshot of the configuration: http://snag.gy/ENTkU.jpg

[2016-01-13 08:09] yakky commented on #34
@Kurdym could you test 0.5.7.post1 I just uploaded?
'EmptyTitle' object has no attribute 'titlemeta' should never occurr. Either you don't have the page created in the correct way or you're accessing the page in the wrong language.
I tried a more defensive approach in the above test version

[2016-01-21 18:45] yakky commented on #34
@Kurdym closing waiting for feedback. Feel free to update this after testing 0.5.7.post1

[2016-01-21 18:45] #34 closed

[2016-02-20 22:35] stefanfoulis opened #37 "tags/code for 0.5.7.post5"
I see version ``0.5.7.post5`` on aldryn (https://marketplace.django-cms.org/en/addons/browse/djangocms-page-meta/), but I can't find the corresponding code or tags in the github repo.

[2016-02-21 08:33] yakky commented on #37
Ping @fmarco :)

[2016-02-21 08:33] yakky commented on #37
@stefanfoulis I think it's related to #36

[2016-02-22 08:31] fmarco commented on #37
@stefanfoulis @yakky yes, it has not a corresponding release, i only uploaded on aldryn just for test. We could provide a real release after we merge the PR.

[2016-02-22 09:55] stefanfoulis commented on #37
@fmarco cheers, thanks :-)
It helps a lot for debugging if there are tags in git for every release.

[2016-02-23 08:26] fmarco commented on #37
@stefanfoulis @yakky released 0.5.8 on Aldryn too.

[2016-02-23 08:54] #37 closed

[2016-03-02 08:24] bh opened #41 "Missing migration step"
When I run:
[code]
The shell will show me something like this:
[code]
Is there a missing migration step?

[2016-03-02 08:24] yakky commented on #41
@bh which django CMS version are you using?

[2016-03-02 08:28] bh commented on #41
[code]
In other words: https://github.com/divio/django-cms/commit/a86dce368a741aec884fc6d9bd2b3ed5687b0cab which is 3.2.1.

[2016-03-02 08:30] yakky commented on #41
3.2.1 has an issue with django 1.9 that triggers "fake" migrations. Use latest commit from release/3.2.x branch which has a fix for it (it will be released in 3.2.2)

[2016-03-02 08:37] bh commented on #41
But I'm using Django=1.8.8, is this also affected?

[2016-03-02 08:44] yakky commented on #41
It should not. What's the content of the migration?

[2016-03-02 08:48] bh commented on #41
https://github.com/divio/django-cms/commit/4f223719f1c5ea215481576aa40cf9f4b1e5d8be also creates the migration step. Here is the content:
[code]
[code]

[2016-03-17 17:43] yakky commented on #41
@bh cannot reproduce this with django CMS 3.2.3, Django 1.8.11 and djangocms-page-meta 0.5.11

[2016-04-01 12:17] vstoykov opened #44 "Probably djangocms-page-meta need to stop require django-meta-mixin"
As of ver 1.0 of `django-meta` `django-meta-mixin` is not needed anymore.

Probably updating `install_requires` to require `dajngo-meta>=1.0` and stop requiring `django-meta-mixin`

[2016-04-01 16:12] #44 closed

[2016-05-24 00:42] macolo opened #50 "djangocms page meta and djangocms page meta description redundancy"
If djangocms-page-meta is installed, there is no need anymore for the native djangocms page meta_description field.

Is there some way to get rid of it?

[2016-05-24 01:20] macolo commented on #50
I think I have a solution: https://github.com/what-digital/djangocms-page-remove-meta-descr

[2016-05-25 07:52] yakky commented on #50
@macolo confirmed. djangocms-page-meta completely overrides the CMS field. Thanks for finding a nice solution, I might add that to the documentation

[2016-05-30 21:06] yakky commented on #50
@macolo do you mind if I integrate your code into this package?

[2016-05-30 22:09] macolo commented on #50
@yakky Fine with me - please do it. Cheers, M

[2016-05-31 12:37] #50 closed

[2016-06-06 21:52] thalesac opened #53 "Specified key was too long; max key length is 767 bytes"
Hi,
I'm getting this error when I run migrate.
Probably is due to the table name length.

Mysql 5.6.30
Charcode: UTF-8
django.db.utils.OperationalError: (1071, 'Specified key was too long; max key length is 767 bytes')
Django 1.9

[2016-06-07 05:13] yakky commented on #53
@thalesac thanks for reporting this: which is the exact collation for the mysql database and the exact migration number that fails?

[2016-06-07 05:25] thalesac commented on #53
Hi @yakky thank you for replying.
The collation is `utf8_general_ci`
The migration probably is:
 `Applying djangocms_page_meta.0006_auto_20160423_1859...Traceback (most recent call last):`

[2016-06-07 05:39] yakky commented on #53
@thalesac could you test this version https://github.com/nephila/djangocms-page-meta/archive/change_migrations.zip ?
This is not a complete fix (admin may look awkward) but just to investigate if I found out the issue

[2016-06-07 20:37] thalesac commented on #53
Hi @yakky , I've tested and it didn't work.
If you setup a branch for me I can test quickly.
Perhaps is the ´'genericmetaattribute'´?

[2016-06-09 05:56] yakky commented on #53
@thalesac could you test the branch  "drop_unique"?

[2016-06-12 18:58] kasaiee commented on #5
what was the problem? I have this issue

[2016-06-12 19:06] kasaiee commented on #5
Ok, it looks like i've misunderstood how this all works too.
I must use {% meta %} in my template

[2016-06-12 19:15] yakky commented on #5
@kasaiee any way documentation can help in setting up correctly the application?

[2016-06-12 19:40] kasaiee commented on #5
@yakky I guess it: [django-meta](https://django-meta.readthedocs.io/en/latest/models.html#reference-template)

[2016-06-13 06:12] yakky commented on #5
@kasaiee thanks, I added a link straight to that link in the readme, hope this helps future users

[2016-06-15 17:17] thalesac commented on #53
Sorry for the delay @yakky
Now I've got a different exception:

`
Running migrations:
  Rendering model states... DONE
  Applying djangocms_page_meta.0006_auto_20160423_1859...Traceback (most recent call last):

(...)
  File "/mnt/c/Users/thales/projetos/travelo/local/lib/python2.7/site-packages/MySQLdb/connections.py", line 36, in defaulterrorhandler
    raise errorclass, errorvalue
django.db.uti

[2016-06-15 22:25] leesolway commented on #53
Applying djangocms_page_meta.0006_auto_20160423_1859...Traceback (most recent call last):
django.db.utils.OperationalError: (1071, 'Specified key was too long; max key length is 3072 bytes')

Same issue as reported above with MySQL version 5.7

[2016-06-16 16:34] yakky commented on #53
@leesolway @thalesac  could you test latest ``drop_unique`` commit?
I've been unable to reproduce both errors with **mysqlclient==1.3.7**, mysql 5.6.30, database created with ``create database pagemeta2 collate ='utf8_general_ci';`` and storage set to innodb;

[2016-06-16 21:29] thalesac commented on #53
Hi @yakky , I've tested and now it seems to work fine.
I've deleted all tables / migrations and have run 'migrate' again.
Thanks for your fix.

[2016-06-17 09:43] yakky commented on #53
@thalesac thanks for the update. I will release a fixed version soon
@leesolway did you had the chance to test it?

[2016-06-20 10:59] leesolway commented on #53
@yakky I can confirm that the drop_unique branch is working. Thanks.

[2016-06-20 11:31] yakky commented on #53
@leesolway thanks. Will release a fixed version later today. Thanks both for your testing and feedback

[2016-06-20 11:32] yakky commented on #41
@bh this should have been fixed in 0.5.11 and later. Closing here. Please report if it's still the case in 0.6 and up

[2016-06-20 11:32] #41 closed

[2016-06-20 15:26] #53 closed

[2016-08-10 18:47] Flimm opened #56 "Table easy_thumbnails_source doesn't exist"
When trying to set a title image, the image upload does not succeed, and I see this error in the logs:

    django.db.utils.ProgrammingError: (1146, "Table 'example.easy_thumbnails_source' doesn't exist"

Including `easy_thumbnails` in `INSTALLED_APPS` fixed this problem.

[2016-08-10 20:59] yakky commented on #56
Thanks for reporting and fixing this!
Fixed in #57

[2016-08-10 20:59] #56 closed

[2016-10-21 17:07] marcosguedes opened #59 "Meta-information not appearing on Django CMS Toolbar (> 3.4)"
The cause might be because Django CMS 3.4 upwards has `cms_toolbars.py` as a naming convention instead of `cms_toolbar.py`

Downgraded to Django CMS 3.3.3 and everything works

http://docs.django-cms.org/en/release-3.3.x/how_to/toolbar.html#registering

[2016-10-21 17:10] marcosguedes commented on #59
Now I see. Version 0.6.2 doesn't have `cms_toolbars.py` but develop version has it

[2016-10-22 08:22] yakky commented on #59
@marcosguedes thanks for reporting this. For some reason 0.6.3 never made it to PyPi. I'm releasing it now

[2016-10-22 08:55] yakky commented on #59
@marcosguedes 0.6.3 released, sorry for the inconvenience

[2016-10-22 08:55] #59 closed

[2016-11-05 16:12] khrizo opened #60 "Meta description gone when editing page."
django 1.8.15
django cms 3.3.3

When adding a new page in DCMS, I have the following fields.

title
slug
menu title
page title
**description meta tag** <-- If this is left blank and save, then I go back to edit the page the description meta tag field is gone.

I only get:
title
slug
menu title
page title

Thanks for the plugin.

[2016-11-06 07:51] yakky commented on #60
This plugin remove the description meta tag from the page form if empty, in favor of the same field in ``Page -> Meta Information -> {{ Language }}`` menu item

[2016-12-15 21:57] julesallen opened #62 "Getting 403 in production on heroku"
Thanks for writing this, it works great on my local but in production on Heroku it 403's:

![image](https://cloud.githubusercontent.com/assets/871038/21243497/bd779704-c2de-11e6-9f47-021404256347.png)

and then

![image](https://cloud.githubusercontent.com/assets/871038/21243521/d33a4c76-c2de-11e6-86e5-c85a9ae0d7a9.png)

django-meta==1.3.2
django-filer==1.2.5
djangocms-page-meta==0.7.0

Thanks for

[2017-01-01 21:37] yakky commented on #62
@julesallen is your remote user a full super admin?

[2017-01-06 10:05] yakky commented on #62
@julesallen well it should already work that way, actually.
I will try to setup a project on heroku to see if there is something specific to look into. Which django CMS version are you using?

[2017-01-09 16:38] julesallen commented on #62
Django==1.9.11 and django-cms==3.4.1. Thanks, @yakky! Please let me know if there is anything I can setup or test on my end.

[2017-03-22 18:25] kundansable opened #63 "RuntimeError: Model class menus.models.CacheKey"
i have project written in django 1.10.3 , I was following your steps for configuration , i am getting error **RuntimeError: Model class menus.models.CacheKey doesn't declare an explicit app_label and isn't in an application in INSTALLED_APPS**
do i have to add 'menus' in INSTALLED_APPS?

[2017-03-22 18:31] kundansable opened #64 "(fields.E300) Field defines a relation with model 'Page', which is either not installed, or is abstract"
getting this errors while doing any command in project
`djangocms_page_meta.PageMeta.extended_object: (fields.E300) Field defines a relation with model 'Page', which is either not installed, or is abstract.
djangocms_page_meta.TitleMeta.extended_object: (fields.E300) Field defines a relation with model 'Title', which is either not installed, or is abstract.`

[2017-03-26 09:30] yakky commented on #63
this project requires full django CMS working environment, as it's just a django CMS addon
It's wort adding this to the readme

[2017-03-26 09:31] yakky commented on #64
this project requires full django CMS working environment, as it's just a django CMS addon
It's worth adding this to the readme

[2017-03-26 10:46] #63 closed

[2017-03-26 10:46] #64 closed

[2017-04-10 19:15] rburhum opened #66 "Can't find option to add metatags on a per page basis"
I am trying to find the options to change opengraph cards on a per page basis. It seems I can only add common tags, but I cannot add specific information for specific pages. Am I missing something?

[2017-04-11 10:54] devxplorer opened #67 "Errors masking in the gunicorn errors log"
<pre>
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/gunicorn/workers/sync.py", line 130, in handle
    self.handle_request(listener, req, client, addr)
  File "/usr/local/lib/python2.7/site-packages/gunicorn/workers/sync.py", line 171, in handle_request
    respiter = self.wsgi(environ, resp.start_response)
  File "/usr/local/lib/python2.7/site-packages/django/c

[2017-04-17 19:08] yakky commented on #66
This application adds a "meta information" item to the page menu in the django CMS toolbar, from which you can edit the general information plus the language dependent texts
![screenshot_20170417_210834](https://cloud.githubusercontent.com/assets/714711/25100849/0b5550b8-23b2-11e7-83db-acf48fa46f32.png)

[2017-05-06 11:10] yakky commented on #67
Do you have any way to reproduce this?
Fixing the specific error is trivial and I can easily integrate this into the next release if this helps you

[2017-05-06 11:21] #66 closed

[2017-05-06 11:22] yakky commented on #66
Please feel free to reopen this if you want to add more information

[2017-05-06 16:40] #67 closed

[2017-05-16 00:37] rburhum commented on #66
Thank you for the help. I got it working and clearly I was an idiot :)

[2017-05-16 09:36] yakky commented on #66
@rburhum no worries :D

[2017-06-21 20:08] djkazic opened #72 "Publishing causes "extra" GenericMetaAttributes to be copied without regard for deletion"
In the copy_relations function for TitleMeta, the oldinstance extra.all() is copied over to the new instance without checking if the item has been deleted.

The result is that when a GenericMetaAttribute is deleted under Meta -> language and the page it references is published, it continues to be rendered anyway. The only way to remove it is to filter the GenericMetaAttribute objects using the ORM

[2017-08-23 11:46] macolo opened #73 "The Divio add-on doesnt work out of the box"
When installing the djangocmso page meta addon in Divio Control, the context menu should contain a djangocms meta entry, but it doesnt.

Set up a demo project on Divio Control to verify.

[2017-11-02 09:46] yakky commented on #73
@macolo for some reason version 0.7 which brings django CMS 3.4 support was only available in the beta channel instead of the stable one. This is now fixed and you should be able to use it on divio cloud

[2017-12-30 13:12] #73 closed

[2017-12-30 13:13] yakky commented on #72
Fixed by #71

[2017-12-30 13:13] #72 closed

[2017-12-30 13:14] #60 closed

[2018-01-09 21:18] aubricus opened #78 "Duplicate Extra Meta Attributes on Publish"
This was reported in #72 and supposedly resolved in #71, but I am still seeing this issue.

OS: Linux (Alpine)
Django: 1.10.x
DjangoCMS: 3.4.x
DjangoPageMeta: 0.7.0
Browser: Chrome (latest)

Affected Components:

* PageMeta
* TitleMeta (possible, though I haven't tested this)

See:

* [PageMeta.copy_relations](https://github.com/nephila/djangocms-page-meta/blob/0.7.0/djangocms_page_meta/models.py#

[2018-01-09 23:15] yakky commented on #78
@aubricus Nice!
Thanks for the very detailed report and analysis
A PR is very welcome, please let me know if you need any help in providing it

[2018-01-09 23:43] aubricus commented on #78
Would love to. I should be able to get to it tomorrow, if not then, I'll make time this weekend. Thanks!

[2018-01-09 23:43] yakky commented on #78
Thanks for your contribution!

[2018-01-16 09:24] sergolius commented on #78
@yakky hello
Also custom meta fields are not deletable by one or multiple.
You need to delete whole page meta and create again with correct data.

[2018-01-16 16:00] yakky commented on #78
@sergolius as custom attributes are managed via admin inlines you should be able to delete them by clicking the delete (see below)
![spectacle j14419](https://user-images.githubusercontent.com/714711/34998200-b8aea328-fade-11e7-83b9-a17498c935d5.png)

This won't help with this issue, though, as you cannot directly edit the published version of the page

[2018-01-16 21:32] sergolius commented on #78
@yakky in case of delete by checkbox, as above image show, field is deleted for "edit mode" only.
But after publish it appears.

[2018-01-17 22:18] yakky commented on #78
@sergei-maertens yes, I am aware of this. I was wondering if some other issues prevented you from deleting generic attributes

[2018-01-17 22:18] yakky commented on #78
@aubricus do you need any help with this? Don't worry if you don't have time, I can work on a fix

[2018-01-18 21:25] yakky commented on #78
@aubricus don't worry. I can handle this easily: the analysis and the PoC provide above is already 80% of the job! :)

[2018-01-18 21:38] yakky commented on #78
@aubricus @sergolius could you check if linked PR fixes the problem for you?

[2018-01-21 11:12] macolo opened #80 "On Divio Hosting: unorderable types: int() > str() when saving a description for a page (v0.80)"
v0.80
unorderable types: int() > str()

the default values in the Divio Add On are not applied it appears.

![image](https://user-images.githubusercontent.com/4056979/35193529-3f9398f8-fea4-11e7-97c8-640086146065.png)

[2018-01-21 16:12] yakky commented on #80
@macolo thanks for the heads up. Which version are you using?

[2018-01-21 16:28] macolo commented on #80
@yakky its v0.80 in the addon repository on divio

[2018-01-21 16:31] yakky commented on #80
Thanks @macolo I'm looking into this

[2018-01-21 16:51] yakky commented on #80
@macolo could you test 0.8.0.post1 version I deployed on divio cloud in the alpha channel?

[2018-01-23 22:00] aubricus commented on #78
@yakky

LGTM. 👍

[2018-01-23 23:21] #78 closed

[2018-01-23 23:22] yakky commented on #78
@aubricus thanks for the feedback
I should be able to release an updated version in the next few days

[2018-02-16 08:13] ElenkaVolodina opened #83 "Duplicate GenericMetaAttribute"
Hello! If i save TitleMeta from CMS interface and click Publish button, i get duplicate entries in model GenericMetaAttribute. This happens every time i save. But if I save from admin interface (admin/djangocms_page_meta/titlemeta/<ID>/change/) duplication does not occur, and GenericMetaAttribute save as correct/
v0.8.0

[2018-02-17 12:01] #80 closed

[2018-02-17 12:02] yakky commented on #83
Hi @ElenkaVolodina Does the current version in develop fix the issue? You can install it with `pip install https://github.com/nephila/djangocms-page-meta/archive/develop.zip`
This has been fixed in #79 but not released yet

[2018-02-19 06:09] ElenkaVolodina commented on #83
@yakky Hi! Thanks for the answer! In develop version works correctly! Tell when is planned release of the new version?

[2018-02-19 07:17] yakky commented on #83
I just released 0.8.1 from current develop. Thanks for the checking!

[2018-02-19 07:18] #83 closed

[2018-02-19 07:24] ElenkaVolodina commented on #83
@yakky Thanks for your work!

[2018-02-19 16:10] yakky commented on #83
@ElenkaVolodina Thanks for reporting and checking this!

[2018-03-23 16:38] ursomniac opened #86 "Page -> Meta-information options aren't selectable (greyed out)"
I think I've followed the installation/configuration instructions, however, when I try to access the SEO options in the Page menu, I can't select either "Common..." or "English..." as both are greyed out.

Please advise.

Relevant package information:
Django==1.8.18
django-cms==3.4.5
django-filer==1.3.0
django-meta==1.4.1

[2018-03-24 10:13] yakky commented on #86
@ursomniac the only reason why the items are visible but greyed out is if you are not in edit mode

Do you see something similar to the top or bottom screenshot below?

![screenshot_20180324_111227](https://user-images.githubusercontent.com/714711/37862858-5c11e38c-2f54-11e8-839a-5f34ae33c186.png)

![screenshot_20180324_111239](https://user-images.githubusercontent.com/714711/37862859-5c3465ec-2f5

[2018-03-26 09:47] adrien-delhorme commented on #60
@yakky What is the reason not to hide the description field on the page creation form? I think it is confusing, but maybe there is a use-case that requires that behavior?

[2018-03-26 12:02] ursomniac commented on #86
Ah - thank you.

[2018-03-26 15:17] ursomniac commented on #86
Well, that lets me add stuff, but nothing ever appears.

I might just go write my own CMSPage override.

[2018-03-27 15:53] ursomniac commented on #86
It seems that my issue is that I'm not setting django-meta up correctly.

The template is set up per the instructions:
`{% load staticfiles get_pdf_files cms_tags sekizai_tags meta page_meta_tags %}
{% page_meta requests.current_page as meta %}
<!DOCTYPE html>
<html>
<head {% meta_namespaces %}>
    <title>Client site</title>
    {% include "meta/meta.html" %}
    {% include 'djangocms_page_meta/m

[2018-03-28 03:56] yakky commented on #86
At line two, the templatetag call should be `{% page_meta request.current_page as meta %}` not `{% page_meta requests.current_page as meta %}` (` {% include "meta/meta.html" %}` is actually not needed, but that just render some properties twice)
Refer to this barebone template as reference https://github.com/nephila/djangocms-page-meta/blob/develop/tests/test_utils/templates/page_meta.html

[2018-03-28 11:48] ursomniac commented on #86
OK that's SOME progress:  I now get the <meta> keywords, I've added but NOTHING for the og:image that I've added.   What's missing?

[2018-03-28 11:55] ursomniac commented on #86
From what I can see  meta.use_og is False and in order to get things to render on the page, it needs to be True.   How is it getting set?

[2018-03-30 20:34] ursomniac commented on #86
Yes, except that I just got a ticket that in the CMS Page admin, using this software somehow makes the  Description Meta Tag field disappear.   Did it get moved elsewhere?

[2018-03-30 23:47] yakky commented on #86
Yes, the meta description is hidden and moved to **Metainformation -> Language** submenu to keep all the meta information together.
Just a note: the meta description field is hidden only if empty. Otherwise it will kept
And it's value it's still used by djangocms-page-meta like it was set in its own menu

Thanks for the clarifications.
Maybe we will make clearer how the meta description field is h

[2018-03-30 23:47] #86 closed

[2018-04-27 06:41] yakky opened #92 "Add support for og:image:* properties"
See https://developers.facebook.com/docs/sharing/best-practices/#precaching

[2018-06-06 06:55] vinitkumar opened #93 "Crash on creating new pagetype with djangocms 3.5.2"
Hi,
I am encountering a crash when using this plugin with djangoCMS 3.5.2. Here is the stack trace.

[code]

[2018-08-26 09:05] ray-man opened #94 "ImportError: cannot import name 'reversion_register'"
Facing issue after installing package and adding to installed apps section in settings.py, unable to syncdb or import

`Traceback (most recent call last):
  File "manage.py", line 11, in <module>
    execute_from_command_line(sys.argv)
  File "/Users/c130/.pyenv/versions/PJ/lib/python3.6/site-packages/django/core/management/__init__.py", line 354, in execute_from_command_line
    utility.execute()

[2018-08-26 09:15] ray-man commented on #94
Updating the packages solved the problem.

[2018-08-26 09:15] #94 closed

[2018-09-10 08:39] joeljv91 opened #95 "Revert to live doesn't work"
Hi

The meta description setting isn't reverted to live version, when I change it in draft and then click on "Revert to live" in "Page..." menu.

It's this normal?

Thanks

[2018-09-12 16:01] rolandf commented on #93
I confirm I have it too.

[2019-02-26 11:42] marcosguedes opened #99 "'CMSToolbar' object has no attribute 'edit_mode'"
Hi everyone at Nephila. [It's me again :D](https://github.com/nephila/djangocms-page-sitemap/issues/30)

This package is also breaking on Django CMS 3.6 due to the error above.

I can try to make a PR later today if at all possible.

Thanks!

Marcos

[2019-02-26 11:43] marcosguedes commented on #99
Stacktrace

[code]

[2019-02-28 16:18] atiberghien commented on #99
Exactly same for me :
Django==1.11.20
django-cms==3.6.0
django-meta==1.4.1
djangocms-page-meta==0.8.3

[2019-03-05 19:20] yakky commented on #99
@marcosguedes :bowing_man:
We'll take care of 3.6 on all our applications in the next days, thanks for your patience!

[2019-03-05 19:22] yakky commented on #95
@joeljv91 django cms does not provide a way to propagate the revert to its extensions
There is some work going on for 4.0 to improve this, but it's at the moment the extensions cannot provide this feature

[2019-03-05 19:26] yakky commented on #93
@vinitkumar @rolandf are you able to reproduce in later versions of django CMS 3.5.x branch?
I can't reproduce in 3.5.2 anyway

Does the page have any permission on it? Is the user a superuser?

[2019-03-06 00:03] vinitkumar commented on #93
@yakky If I remember correctly, the user was a superuser

[2019-03-06 07:14] yakky commented on #93
@vinitkumar ok, I can't reproduce this, but I borrowed your fix and I'll merge it

Thanks for reporting!

[2019-03-06 07:20] vinitkumar commented on #93
@yakky Thanks. Please let me know when you released to pypi, so that I can use it instead of my own fork.

[2019-03-06 07:20] #93 closed

[2019-03-06 07:34] yakky commented on #93
@vinitkumar will do. Expect it by the end of the week.
I want to merge in at least django CMS 3.6 compatibility feature before releasing

[2019-03-06 09:14] marcosguedes commented on #99
No worries, greatly appreciated. @jeroenpeters1986 is the real hero, not me :)

Thank you for your hard work!

[2019-03-06 17:27] yakky commented on #99
everyone taking time to contribute by opening an issue or adding a comment is a hero!
not joking

[2019-03-10 12:53] yakky commented on #99
closed with #100 thanks for your work!

[2019-03-10 12:53] #99 closed

[2019-03-10 12:59] jeroenpeters1986 commented on #99
Agreed! Thanks for merging

[2019-03-21 08:14] selmanceker commented on #99
On Divio cloud the current version is 0.8.3. Can anyone also upgrade it there? Thanks :)

[2019-03-22 10:05] jmrobles opened #104 "Django 2.x migrations "on_delete" missing"
The field `public_extension` in `0001_initial.py` needs to include `on_delete` handler.

[2019-03-22 11:14] kuvandjiev commented on #104
Hello,

I created a PR to amend this: https://github.com/nephila/djangocms-page-meta/pull/105

Apologies, I have missed that field in my previous PR.

[2019-03-22 21:45] yakky commented on #104
fixed by #105
Thanks @jmrobles and @kuvandjiev !

[2019-03-22 21:45] #104 closed

[2019-03-22 23:23] yakky commented on #99
@selmanceker updated. IDK why it did not went through. Be aware that there is still an issue with django 2.0+ which will be fixed in 0.8.5 due in a few hours

[2019-03-23 06:18] yakky commented on #99
@selmanceker 0.8.5 released with migration fix

[2019-03-24 18:29] selmanceker commented on #99
Thank you @yakky for informing me and for this awesome package :).

[2019-03-24 21:20] yakky commented on #99
thanks for your kind words! :bowing_man:

[2019-06-05 12:13] adrien-delhorme opened #107 "Exclude disabled fields in admin form"
`django-meta` does not display some tags by default (eg: `META_USE_OG_PROPERTIES` is `False` by default) however `djangocms-page-meta` allows to fill these fields in its admin forms.

Can we exclude unwanted fields based on the settings?

[2019-06-30 00:12] yakky commented on #107
@adrien-delhorme it's doable, but IDK if the extra work / complexity it's worth.

Just hiding the three fieldsets I think it's doable, I will happily review the MR

[2020-02-26 09:34] corentinbettiol opened #116 "Managing robots meta tag in djangocms-page-meta"
Hello :wave:

I would like to know if you would accept a PR adding robots meta tags management in `djangocms-page-meta`.

I noticed that the meta robots tag configuration is already possible in your `djangocms-page-sitemap` application, but I think that this option would be more appropriate in an application that *manages meta tags* rather than in an application that manages *a sitemap*, because w

[2020-03-18 13:29] yakky commented on #116
@corentinbettiol it sounds really nice
Going forward, I'd think about a way to import data from djangocms-page-sitemap and then remove the feature from sitemap completely

[2020-04-24 15:23] corentinbettiol commented on #116
I started to implement it [here](https://github.com/kapt-labs/djangocms-page-meta/tree/feature/meta-robots) using [django-multiselectfield](https://pypi.org/project/django-multiselectfield/).

It looks like a basic checklist:
![image](https://user-images.githubusercontent.com/45763865/80229006-1bcac280-8650-11ea-8b80-5e779501ecad.png)

And adds the selected values (separated by commas) inside the

[2020-04-24 16:56] yakky commented on #116
@corentinbettiol I gave a cursory look at the linked branch, overall speaking it's ok
Please check
- user facing labels are translateable
- at least a test for the proposed feature is added
- no extra code changes (formatting, code style, unrelated fixes) are present in the proposed commits

[2020-04-27 09:12] corentinbettiol commented on #116
@yakky Okay, I'll do that :)

But the labels are the [exact keywords](https://developers.google.com/search/reference/robots_meta_tag#directives_1) that we can add to robots meta tag, so I don't know if we should make them translateable.

[2020-04-27 09:26] yakky commented on #116
@corentinbettiol I would mark them as translatable anyway (only the "right" part of the tuple, not the left of course)
Generally speaking it may not make sense to translate them, but this will make make easy for people to provide custom label in their project, if they want
But I was more referring to the `robots` field which does not provide a `verbose_name` and it's not translatable

[2020-04-27 09:42] corentinbettiol commented on #116
Hmm yes I understand, lets do this then :)

[2020-04-27 11:08] yakky commented on #116
I would also expose `ROBOTS_CHOICES` as a setting (with the default you wrote) to allow further customizations / updates in the future

[2020-04-27 11:36] corentinbettiol commented on #116
Oh nice idea, I will add this too, thanks.

[2020-04-27 12:30] corentinbettiol commented on #116
@yakky Can I add some information on [`django-meta configuration`](https://github.com/nephila/djangocms-page-meta/blob/develop/docs/configuration.rst#django-meta-configuration) doc too?

Something like this:

*(just discovered that github-flavored markdown supports [html + django templates](https://github.com/github/linguist/blob/master/lib/linguist/languages.yml#L1980) in it's syntax highlighting

[2020-04-27 14:35] corentinbettiol commented on #116
While trying to launch tests using method given in doc/ (`mkvirtualenv djangocms-page-meta` then `python setup.py develop`), I get this error message:
[code]

This seems to happens because Pilllow do not support Python2.7 [since version 7](https://github.com/python-pillow/Pillow/issues/4478#issuecomment-600006218), and the actual config is trying to install `Pillow 7.1.2`.

It is required by `easy

[2020-05-02 19:48] yakky commented on #116
Sure!
Any addition / clarification to the documentation is of great help :tada:

WRT to test,  I think assigning some values to the field in the test setup and checking the rendered values it's enough to cover the case. Any other would just be testing the depedencies

[2020-06-25 18:51] tacc-wbomar opened #121 "Update Docs to Avoid Confusion About Usage of App"
## Description

A user (that is new to interoperability of djangocms apps) is likely to encounter a few issues when following the documentation:

1. Be unaware how to set "page meta" (#86, #66).
1. Be unaware how to render "page meta" (["6. That's all!" without mentioning "Usage"](https://djangocms-page-meta.readthedocs.io/en/latest/readme.html)).
1. Be unclear the distinction between "meta"s ([co

[2020-06-25 18:54] tacc-wbomar commented on #121
I've created this issue with the intent for me to learn a little `.rst` and update the documentation. Expect a PR.

[2020-09-13 12:54] pau1a opened #132 "Per page CSS"
Hi there,

Have you considered adding the functionality to this plugin to add css to a template on a per page or per include basis?

[2020-09-25 05:42] dependabot-preview[bot] opened #134 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/nephila) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/nephila/update-logs/48690874).

[2020-09-28 05:41] #134 closed

[2020-09-29 23:53] taut-and-yare opened #135 "Consider a release that drops django.six / python2 support"
[This line](https://github.com/nephila/djangocms-page-meta/blob/0.10.0/djangocms_page_meta/models.py#L12) throws an error in django 3

[2020-11-01 00:04] yakky commented on #132
@pau1a I don't think that css belongs to this package

could you elaborate more your use case?

[2020-11-01 16:20] #135 closed

[2020-11-10 17:01] pdbethke opened #137 "Reference to six library causes incompatibility with Django 3"
Reference to six library causes incompatibility with Django 3

  File "C:\Users\Peter D Bethke\PycharmProjects\venv\bossota-django3\lib\site-packages\djangocms_page_meta\models.py", line 12, in <module>
    from django.utils.six import python_2_unicode_compatible
ModuleNotFoundError: No module named 'django.utils.six'

## Versions

## Expected behaviour

## Actual behaviour

## Additional informat

[2020-11-12 16:06] protoroto opened #138 "Fix package path in setup.cfg and pyproject.toml"
`setup.cfg` and `pyproject.toml` have some `meta` reference that should be `djangocms_page_meta`

[2020-11-12 16:13] #138 closed

[2020-11-12 16:27] yakky commented on #137
@pdbethke this is already handled in current develop

We hope to release a new version in the next few days

[2020-11-16 21:57] Panamus commented on #137
@yakky is there an ETA on the next release? waiting to use this in my own project and this is holding me back but I can't seem to install the develop version into my docker image.

[2020-11-16 22:33] tacc-wbomar commented on #132
I agree with @yakky.

Here is some general direction for per-page CSS, _independent_ of `djangocms-page-meta`:

- In development, for testing, you can easily author per-page CSS via [djangocms-snippets](https://github.com/django-cms/djangocms-snippet)
    - _That plugin should **only** be used for development, **not** production!_
    - _A more manageable solution is strongly suggested for product

[2020-11-17 14:07] victor-yunenko opened #140 "This package can't be installed along the latest versions of djangocms-blog and django-meta because it relies on the removed google plus fields"
Hi @yakky, I noticed that over the weekend you've released new versions of djangocms-blog and django-meta, that drop the support of google plus properties. But that package seem to be still relying on those fields?

[2020-11-18 11:20] yakky commented on #140
@victor-yunenko yes I have been unable to release a new version of this along the other ones

This has been fixed with today's release 1.0

[2020-11-18 11:20] yakky commented on #137
@pdbethke

This has been fixed with today's release 1.0

[2020-11-23 13:53] victor-yunenko commented on #140
Thank you, I can confirm that 1.0.0 works for me on the djangocms-template 👍

[2020-11-23 13:53] #140 closed

[2020-11-23 13:54] yakky commented on #140
@victor-yunenko thanks for the feedback!

[2020-12-20 22:53] #137 closed

[2020-12-20 22:54] yakky opened #141 "Add support for django-app-enabler"
Add addon.json to make this package installable via https://github.com/nephila/django-app-enabler

[2020-12-21 08:09] #141 closed

[2021-01-29 12:27] Bodyhealer opened #143 "Link to djangocms-page-meta"
## Description

Hello!
Your links lead to djangocms-redirect like this https://pypi.python.org/pypi/djangocms-redirect.
Please fix links for leading to djanocms-page-meta

[2021-03-02 07:54] andre-dasilva opened #144 "djangocms-page-meta from divio addons does not work with django-meta 2.0.0"
## Description

Current djangocms-page-meta package from the divio addons platform (0.10.0) does not work with django-meta 2.0.0.

## Steps to reproduce

Install djangocms-page-meta with divio aldryn addons

## Expected behaviour

Should work with pip install :-)

## Actual behaviour

Error:

![image](https://user-images.githubusercontent.com/23586151/109615905-ca734580-7b34-11eb-8900-56981c68329f

[2021-03-02 07:59] andre-dasilva commented on #144
I am not sure if divio issues should be an issue here or directly in the divio dashboard :-)

[2022-08-27 15:50] yakky commented on #143
Thanks a lot for the report, the links have been fixed in #147

[2022-08-27 15:50] #143 closed

[2022-08-27 17:20] yakky opened #150 "djangocms-page-tags breaks django-cms page types display"
See https://github.com/nephila/djangocms-page-sitemap/issues/67 for details

[2022-08-27 17:21] yakky opened #151 "Update support for django / django CMS"

[2022-08-27 17:32] #151 closed

[2022-08-27 17:42] #150 closed

[2022-09-06 15:38] wesleyboar opened #155 "Default Image"
## Description

Support a default image for all the image meta tags on any page (and a post via [djangocms-blog](https://github.com/nephila/djangocms-blog/)[^1]):
- Open Graph `og:image`
- Twitter `twitter:image`
- Schema.org `image`

## Use cases

A CMS user expects that **every** webpage URL (of their site) that they share on Twitter **will** display an image, even if the page does **not** have